.boxLogin{
    margin: 15% 35%;
    width: 30%;
    height: 400px;
    background-color: #22272e;
    border: 2px solid rgb(7, 36, 70);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.error-text{
    color: red;
}